a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

.App {
  height: 100vh;
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
}

.body {
  padding: 3vw;
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.title {
  font-weight: bold;
  font-size: 2.4rem;
}

.links {
  display: flex;
  font-weight: bold;
}

.link {
  padding: 0 1rem;
  font-size: 1.2rem;
}
