html {
  background-color: black;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

.App {
  color: white;
  font-family: "Roboto", sans-serif;
}

.body {
  padding: 3vw;
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

.site-title {
  font-weight: bold;
  font-size: 2.4rem;
  float: left;
}

.links {
  display: flex;
  font-weight: bold;
  margin-right: 5vw;
}

.link {
  padding: 0 1rem;
  font-size: 1.2rem;
}

.main {
  position: relative;
  height: 100vh;
}

.main-content {
  display: flex;
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.title {
  font-weight: bold;
  font-size: 3rem;
  width: 25vh;
  padding-top: 6vh;
}

.description {
  width: 20vw;
  padding-top: 4vh;
  line-height: 1.5rem;
}

.resume {
  border: 1px solid white;
  padding: 5px;
  font-weight: bold;
  text-align: center;
  margin-top: 4vh;
  width: 65px;
  border-radius: 2px;
}

.resume:hover {
  text-decoration: underline;
}

.main-content {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.main-info {
  display: inline-block;
  width: 25vw;
}

.headshot {
  display: inline-block;
  width: 20vw;
  border-radius: 23vw;
}

.scroll-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.project-card {
  flex: 0 0 auto;
  height: 400px;
  width: 800px;
  border: 1px solid white;
  margin-right: 50vw;
}
