html {
  background-color: black;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

.App {
  color: white;
  font-family: "Roboto", sans-serif;
}

.body {
  padding: 3vw;
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.site-title {
  font-weight: bold;
  font-size: 2.4rem;
}

.links {
  display: flex;
  font-weight: bold;
}

.link {
  padding: 0 1rem;
  font-size: 1.2rem;
}

.main {
  padding: 10vh 15vw;
  display: flex;
}

.title {
  font-weight: bold;
  font-size: 3rem;
  width: 25vh;
  padding-top: 6vh;
}

.description {
  width: 20vw;
  padding-top: 4vh;
  line-height: 1.5rem;
}

.resume {
  border: 1px solid white;
  padding: 5px;
  font-weight: bold;
  text-align: center;
  margin-top: 4vh;
  width: 65px;
  border-radius: 2px;
}

.resume:hover {
  text-decoration: underline;
}

.main-content {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 5vh 7.5vw;
}

.main-info {
  display: inline-block;
}

.headshot {
  display: inline-block;
  width: 23vw;
  border-radius: 23vw;
}

.triangle-right {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 40px solid white;
  border-bottom: 20px solid transparent;
  margin: auto 0;
}

.triangle-right:hover {
  border-top: 22px solid transparent;
  border-left: 44px solid white;
  border-bottom: 22px solid transparent;
}
